<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="d-none d-sm-none d-md-none d-lg-block col-lg-5">
                    <img src="imgs/Group 4.png" alt="Login image" style="width: 100%; height: 816px;">
                </div>

                <div class="col-md-12 col-lg-7">
                    <div class="row">
                        <div class="px-5 ms-xl-4 p-3">
                            <img src="imgs/Logo.png" alt="Logo">
                        </div>

                        <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-5 mt-xl-n5">

                            <form action="/register" method="post">

                                <h2 class="mb-3"
                                    style="letter-spacing: 1px; font-size: 40px; font-weight: 700; line-height: 51px;">
                                    Sign up
                                </h2>

                                <p
                                    style="font-weight: 400; font-size: 16px; line-height: 20px; opacity: 0.75; margin-bottom: 48px;">
                                    Let's get you all st up so you can access your personal account.
                                </p>
                                {{#if error}}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>Failed!</strong> {{error}}
                                </div>
                                {{/if}}
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example18">First name</label>
                                            <input type="text" id="form2Example18" name="firstName" required
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example18">Last name</label>
                                            <input type="text" id="form2Example18" name="lastName" required
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example18">Email</label>
                                            <input type="email" id="form2Example18" name="email" required
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example28">Phone number</label>
                                            <input type="tel" id="form2Example18" name="phoneNumber" required
                                                oninvalid="this.setCustomValidity('Vui lòng điền đúng định dạng số điện thoại gồm 10 số')"
                                                oninput="this.setCustomValidity('')" pattern="[0-9]{10}" required
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example28">Date of Birth</label>
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control form-control-lg" id="dob" name="dob" required value="" style="border-right: none">
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example28">Password</label>
                                        <div class="input-group mb-3">
                                            <input class="form-control form-control-lg" id="password" name="password"
                                                required value="" style="border-right: none">
                                            <span class="input-group-text" style="background-color: #fff;">
                                                <i class="fa fa-eye-slash" id="togglePassword"
                                                    style="cursor: pointer"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example28">Confirm Password</label>
                                        <div class="input-group mb-3">
                                            <input class="form-control form-control-lg" id="cpassword" name="cpassword"
                                                required value="" style="border-right: none">
                                            <span class="input-group-text" style="background-color: #fff;">
                                                <i class="fa fa-eye-slash" id="togglePassword"
                                                    style="cursor: pointer"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"
                                            required />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree to all the <a href="#!">Terms</a> and <a href="#!">Privacy
                                                Policies</a>
                                        </label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <input class="btn-login btn btn-lg btn-block w-100" type="submit" name="signup"
                                        value=" Create account" style="background-color: #8DD3BB; margin-top: 40px;" />
                                </div>

                                <p class="text-center" style="margin-bottom: 40px;">
                                    Already have an account? <a href="login.php">Login</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");
    const cpassword = document.querySelector("#cpassword");
    password.setAttribute("type", "password");
    cpassword.setAttribute("type", "password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // toggle the eye icon
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });

    togglecPassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = cpassword.getAttribute("type") === "password" ? "text" : "password";
        cpassword.setAttribute("type", type);
        // toggle the eye icon
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
</script>

</html>