<div>
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3">
      <h5 class="mb-0 text-uppercase">Danh Sách Vé Máy Bay</h5>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <div class="card border-primary border-bottom border-3 border-0">
        <div class="card-header">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Điểm khởi hành</th>
                    <th class="text-center">Điểm đến</th>
                    <th class="text-center">Thời gian khởi hành</th>
                    <th class="text-center">Thời gian đến</th>
                    <th class="text-center">Hãng bay</th>
                    <th class="text-center">Loại vé</th>
                    <th class="text-center">Giá vé</th>
                    <th class="text-center">Ghế</th>
                    <th class="text-center">Khách hàng</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each tickets}}
                        <tr class="align-middle">
                          <td class="text-center">{{incremented @index}}</td>
                          <td> {{flight_id.departure_airport_id.airport_name}}</td>
                          <td> {{flight_id.arrival_airport_id.airport_name}}</td>
                          <td class="text-center"> {{format_datetime flight_id.departure_datetime}}</td>
                          <td class="text-center"> {{format_datetime flight_id.arrival_datetime}}</td>
                          <td class="text-center"> {{airline_id.airline_name}}</td>
                          <td class="text-center"> {{ticket_class}}</td>
                          {{#ifCond ticket_class '===' 'Phổ Thông'}}
                              <td class="text-center"> {{format_currency flight_id.economy_price}} VNĐ</td>
                          {{else}}
                              <td class="text-center"> {{format_currency flight_id.business_price}} VNĐ</td>
                          {{/ifCond}}
                          <td class="text-center"> {{seat}}</td>
                          {{#if passenger_info}}
                              <td class="text-center">
                                {{#with (convertMap passenger_info)}}
                                    <button data-bs-toggle="modal" data-bs-target=".informationModal" type="button" 
                                    data-name="{{firstName}} {{lastName}}" 
                                    data-email="{{email}}" 
                                    data-phone="{{phoneNumber}}" data-dob="{{Dob}}"
                                    class="btn btn-info userInfo">Chi tiết</button>
                                {{/with}}
                              </td>
                          {{else}}
                              <td class="text-center">
                                <button data-bs-toggle="modal" data-bs-target=".informationModal" type="button" 
                                data-name="{{user_id.last_name}} {{user_id.first_name}}" 
                                data-email="{{user_id.email}}" 
                                data-phone="{{user_id.phonenumber}}" data-dob="{{user_id.dob}}" class="btn btn-info userInfo">Chi tiết</button>
                              </td>
                          {{/if}}
                          <td class="text-center">
                            <button data-bs-toggle="modal" data-bs-target=".deleteModal" data-id="{{_id}}" class="del btn btn-danger deleteTicket"><i class="fa-solid fa-trash" style="margin-left: 5px;"></i></button>
                          </td>
                        </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="modal fade deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa Vé</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                      <div class="d-flex align-items-center">
                        <div class="font-35 text-dark"><i class="bx bx-info-circle"></i></div>
                        <div class="ms-3">
                          <h6 class="mb-0 text-dark">CẢNH BÁO</h6>
                          <input type="hidden" id="_id">
                          <div class="text-dark text-wrap">Bạn có chắc chắn muốn xóa vé này?
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmDelete" data-bs-dismiss="modal">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            {{! a }}
            <div class="modal fade informationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Flight Information</h1>
                    <button
                      type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                      <label><b>Họ và tên</b></label>
                      <p id="name"></p>
                      <label><b>Email</b></label>
                      <p id="email"></p>
                      <label><b>Số điện thoại</b></label>
                      <p id="phone"></p>
                      <label><b>Ngày sinh</b></label>
                      <p id="dob"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section 'js'}}
<script src="../js/manage-tickets.js"></script>
{{/section}}