<!--navigation-->
<div class="nav-container primary-menu">
  <div class="mobile-topbar-header">
    <div>
      <img
        src="../assets/images/logo-icon.png"
        class="logo-icon"
        alt="logo icon"
      />
    </div>
    <div>
      <h4 class="logo-text">Rukada</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i>
    </div>
  </div>
  <nav class="navbar navbar-expand-xl w-100">
    <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage-flights">
          <div class="parent-icon"><i class="fa-solid fa-plane"></i>
          </div>
          <div class="menu-title">Quản Lý Chuyến Bay</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage-airlines">
          <div class="parent-icon"><i class="fa-solid fa-earth-americas"></i>
          </div>
          <div class="menu-title">Quản Lý Hãng Bay</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage-ticket">
          <div class="parent-icon"><i class="fa-solid fa-ticket"></i>
          </div>
          <div class="menu-title">Quản lý Vé</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage-user">
          <div class="parent-icon"><i class="fa-solid fa-users"></i>
          </div>
          <div class="menu-title">Quản Lý Khách Hàng</div>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!--end navigation-->